<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:replace="/layout :: head">

</head>
<body>

<header th:replace="/layout :: header"></header>

<div class="container mt-2">
		<div class="jumbotron">
			<h1 class="display-4" th:text="${titulo}"></h1>
			<br>
			<p class="lead" th:text="${Mensaje}"></p>

			<hr class="my-4">
			<div class="jumbotron">
				<img style="border-radius:20px;
				width: 100%; box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05 ) 0px 5px 10px" alt="Spring Framework" th:src="@{/img/springLogo.png}">
				</ul>
			</div>

		</div>

	</div>

	<p th:text="${respuesta}"></p>


	<footer th:fragment="footer">

	</footer>


</body>
</html>
